html { 
    overflow-y: scroll;
    font-size: clamp(0.75px, 0.05vw, 1px);
}

@font-face {
    font-family: 'TrajanusBricks';
    src: url(../fonts/TrajanusBriX-Invers.ttf) format('truetype');
}

@font-face {
    font-family: 'Dreaming';
    src: url(../fonts/Dreaming.otf) format('opentype');
}

body {
    margin: auto;
    padding: 0 0 0 0;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url("../imgs/stock-background-small.png");
    background-size: cover;
    background-position-y: 48%;
    background-repeat:repeat-y;
    background-repeat:repeat-x;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.empty-div {
    height: 30rem;
}

.titles{
    padding: 15rem 0 0 0;
    color: blanchedalmond;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family:'Dreaming', sans-serif;
}

.main-title, .sub-title {
    text-shadow: 2rem 2rem 3rem black;
}

.sub-title {
    font-size: 50rem;
    font-style: italic;
    padding-left: 30rem;
    padding-right: 30rem;
}

.main-title{
    font-family: 'TrajanusBricks', sans-serif;
    font-size: 90rem;
}

.about-section, .portfolio-section, .contacts-section {
    flex-shrink: 1;
    position: relative;
    padding-top: 35rem;
    padding-bottom: 35rem;
    border-radius: 105rem;
    width: 900rem;
    height: 150rem;
    margin: auto;
    background-color: #ffffff;
    background:rgba(255,255,255,0.4);
}

.about-me, .portfolio, .contacts {
    display: flex;
    position: relative;
    margin: 35rem;
    font-family: 'Dreaming', sans-serif;
    text-align: left;
    color: black;
    font-size: 55rem;
    text-decoration: underline;
    padding-left: 50rem;
    padding-right: 30rem;
    float: left;
}

.about-paragraph {
    margin: auto;
    float: left;
    text-align: center;
    color: black;
    font-size: 22rem;
    width: 450rem;
    height: 160rem;
    font-family: Cambria;
}

.information {
    margin: 0;
    height: 1000rem;
}

.portfolio-list {
    font-family: Cambria;
    margin: 35rem;
    font-size: 26rem;
    color: black;
}

.portfolio-section {
    margin-bottom: 35rem;
}

.logos {
    height: 100rem;
    margin: 15rem;
    padding-left: 30rem;
}

@media screen and (max-width: 610px) {
    
    .main-title {
        font-size: 45rem;
    }
    .sub-title {
        font-size: 25rem;
    }
    .about-section, .portfolio-section, .contacts-section {
        padding-top: 40rem;
        width: 550rem;
        height: 175rem;
    }
    .about-me, .portfolio, .contacts {
        display: block;
        margin-top: 0;
        float: none;
        text-align: center;
        height: 1rem;
        font-size: 35rem;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .about-paragraph {
        padding-top: 15rem;
        float: none;
        font-size: 22rem;
        width: 400rem;
    }
    .portfolio-list {
        padding-top: 15rem;
        float: none;
        font-size: 30rem;
    }
    #linkedin-icon {
        padding-left: 130rem;
    }

    #linkedin-icon, #gmail-icon {
        padding-top: 15rem;
    }
}

@media screen and (max-height: 1046) {
    .body {
        min-height: 800px;
        width: 1000px;
        background-size: contain;
        background-repeat: repeat-y;
    }
}